<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div style="text-align: center; margin-top: 20vh; font-size: 2.5rem; font-family: roboto">
        Team 1:
        <input type="text" id="t1">
        </br>
        Team 2:
        <input type="text" id="t2">
        </br>
        <button id="predict" >
            PREDICT
        </button>
        <p id="output" >
        </p>
    </div>
</body>


<script>
 var predict = document.getElementById("predict");

 var t1 = document.getElementById("t1");
 var t2 = document.getElementById("t2");
 var output = document.getElementById("output");

 predict.onclick = function() {
     var xmlHttp = new XMLHttpRequest();
     xmlHttp.onreadystatechange = function() {
         if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
             console.log(xmlHttp.responseText);
             output.value = xmlHttp.responseText;
         }
     };
     xmlHttp.open("GET", '/match?home=' + t1.value + '&away=' + t2.value, true); // true for asynchronous 
     xmlHttp.send(null);
     return xmlHttp.responseText;
 };
</script>
